 /* font poppins */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 .poppins-thin {
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 /* font inter */
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 .inter-font {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
 }

 /* shared style */
 .display-flex {
     display: flex;
     flex-wrap: wrap;
 }

 .btn {
     background-color: rgba(224, 44, 109, 1);
     color: white;
     padding: 24px;
     width: 165px;
     height: 44px;
     display: flex;
     justify-content: center;
     align-items: center;
 }


 /* Header section style */
 header {
     margin-left: 50px;
     margin-right: 20px;
 }

 .navbar {
     justify-content: space-between;
     align-items: center;
     margin-bottom: 50px;
     flex-wrap: nowrap;
 }

 .navlink {
     gap: 20px;
 }

 .nav-items {
     list-style: none;
     margin-right: 30px;
 }

 .nav-link {
     text-decoration: none;
     color: rgba(58, 58, 58, 1);
 }

 #influ {
     font-weight: 700;
     font-size: 1.7rem;
 }

 .first-btn {
     border-radius: 45px;
 }

 span {
     /* color: transparent; লেখা অদৃশ্য করে দেয় another way*/
     visibility: hidden;
 }

 .banner {
     justify-content: space-between;
     align-items: center;
 }

 .img-wrapper {
     position: relative;
     width: 100%;
     max-width: 400px;
     /* চাইলে নিজের ইমেজ সাইজ */
 }

 .img-main {
     width: 100%;
     display: block;
 }

 .img-overlay {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
     /* overlay image size */
 }

 /* position: relative; → wrapper div এর ভেতরে fixed reference তৈরি করে

position: absolute; → overlay image কে main image এর ওপরে বসায়

top: 50%; left: 50%; transform: translate(-50%, -50%);
→ overlay image সবসময় main image-এর ঠিক মাঝখানে থাকবে

screen ছোট–বড় হলেই দুইটিই responsive থাকবে */

 .sponsor-img {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     width: 1100px;
     height: 110px;
     align-items: center;
     margin: 0 auto;
     justify-items: center;
     margin-top: 50px;
     border-top: 2px solid rgb(214, 210, 210);
     border-right: 2px solid rgb(206, 207, 206);
     border-bottom: 2px solid rgb(143, 143, 143);
     border-left: 2px solid rgb(95, 94, 91);
 }

 /* pictures design */
 .container {
    max-width: 1047px;
    margin: 0 auto;
 }
 .popular{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
 }
 .box-title{
    color: rgba(24, 25, 31, 1);
    font-weight:500;
    font-size: 28px;
    margin-top: 0px;
 }
 .dollar{
    margin-top: -20px;
 }
 .box-description{
    color: rgba(120, 120, 133, 1);
    font-size: 14px;
    font-weight: 700;
 }
 .all-box {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
     align-content: center;
     justify-items: center;
 }
 .box-items{
    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    padding: 14px;
 }

 /* feauture design */


 .last-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 96px;     /* দুই div এর মাঝে দূরত্ব */
    margin-top: 100px;
    margin-bottom:100px ;
    
}

.last-img img {
    width: 100%;
    max-width: 400px; /* চাইলে কম–বেশি করতে পারো */
    min-width: 300px;
}

/* footer */

footer {
    width: 100%;
    background-color: rgb(3, 3, 37);
    color: white;
}

.footer {
    text-align: center;
    padding: 40px;
}
.infu-title{
    font-weight: 700;
    font-size: 24px;
}
.influ-desciption{
    color: rgba(217, 219, 225, 1);
}

 @media screen and (max-width: 576px) {

     .hide {
         display: none;
     }

     .navbar {
         display: grid;
         grid-template-columns: auto 1fr auto;
         /* 3 কলাম */
         align-items: center;
         width: 100%;
     }

     #influ {
         font-size: 1rem;
     }

     .navlink {
         display: flex;
         gap: 15px;
     }

     .banner {
         flex-direction: column-reverse;
         text-align: center;
     }

     .btn {
         margin: 0 auto;
     }

     .sponsor-img {
         grid-template-columns: repeat(2, 1fr);
         width: 270px;
         gap: 10px;
         align-content: center;
         margin: 20 auto;
         height: 250px;
     }

     /* all box pic  */
     .all-box{
        grid-template-columns: 1fr;
     }
     .last-box{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
     }
 }